{
    "parser": "babel-eslint",
    "rules": {
        "strict": 0,
        "indent": [ 2, 2 ],
        "semi": [ 2, "always" ],
        "arrow-parens": 2,
        "arrow-spacing": 1,
        "comma-dangle": 0,
        "constructor-super": 2,
        "no-class-assign": 2,
        "no-const-assign": 2,
        "no-dupe-class-members": 2,
        "no-this-before-super": 2,
        "callback-return": 2,
        "no-path-concat": 2,
        "no-label-var": 2,
        "no-shadow": 2,
        "no-var": 0,
        "no-use-before-define": 0,
        "handle-callback-err": 1,
        "prefer-spread": 1,
        "prefer-arrow-callback": 1,
        "prefer-template": 1,
        "no-console": 0,
        "vars-on-top": 0,
        
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "react/react-in-jsx-scope": 2
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },
    "plugins": [
      "react"
    ],
    "extends": "eslint:recommended"
}
